<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Feature request report</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <main role="main" class="container-lg">

        <div class="starter-template">
            <h1>Feature request tracker</h1>
            <p class="lead">Checking all product feature request in a single batch</p>
        </div>
        <div class="results">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Priority</th>
                        <th>Title</th>
                        <th>Stage > Group</th>
                        <th>Milestone</th>
                        <th>Assignees</th>
                        <th>Epic</th>
                        <th> Workflow</th>
                    </tr>
                </thead>
                <tbody>
                    {% for issue in issues %}
                    <tr>
                        <td>{{ issue.priority }}</td>
                        <td><a href="{{ issue.web_url }}">{{ issue.name }} ({{ issue.state }})</a></td>
                        <td>{{ issue.devops }} > {{ issue.group }} ({{ issue.pm }})</td>
                        <td>{{ issue.milestone.title }}</td>
                        <td>{% for assignee in issue.assignees %} <a
                                href="{{ assignee.web_url }}">{{ assignee.name}}</a>, {% endfor %}
                        </td>
                        <td><a href="https://gitlab.com/{{ issue.epic.url }}">{{ issue.epic.title }}</a></td>
                        <td>{{ issue.workflow }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

</body>
</table>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>